<div class="container" style="text-align: center;border: 1px solid rgb(37, 105, 151);">
  <form  [formGroup]="loginForm" style="padding: 20px;">
    <h1>Log In</h1>
    <div *ngIf="errMsg.length > 0">
    <span *ngFor="let msg of errMsg">{{msg}}</span>
    </div>
    <div>
        <input type="text" placeholder="Username" formControlName="username">
    </div>
    <div>
        <input type="password" placeholder="Password" formControlName="password">
    </div>
    <button (click)="onSubmit()">Submit</button>
  </form>
</div>